# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Github\DSA_lab\DSA_BalazsB-lintBern-rd_AUTIB\Onfejlesztes\Sor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
